.divContenedorBuscador00 {
  width: 17rem;
height:50rem;
padding: 0 0 1rem 0;
border-radius: .2rem;
background-image: url('../../img/vaso.svg');
 background-repeat: no-repeat; 
/*   background-color: rgb(145, 151, 160);
  border: solid .1rem rgb(93, 142, 161); */
}
.divContenedorBuscador01 {
  align-items: center;
  padding: 1rem 0 0.5rem 0;

}
.divContenedorBuscador01 > input {
  background-color:antiquewhite;
  color: #a19b81;
  font-weight: 800;
  font-size: 1.2rem;
  width: 70%;
  outline: none;
  text-align: center;
  border: 0;
  border-radius: 0.2rem;
}

.divContenedorBuscador01 > h4 {
  padding: 0.5rem;
  color: rgb(189, 206, 202);
  font-weight: 800;
  font-size: 1.2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.divContenedorBuscador01> button{
margin: .4rem 0 0 0;
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
padding: .2rem 3rem .2rem 3rem;
font-size: 1.1rem;
font-weight: 800;
color: rgb(159, 189, 221);
background-color: rgb(80, 126, 163);
border-radius:.1rem;
border:0;
transition: .3s;
border-left:solid .1rem rgb(107, 134, 158);
border-bottom:solid .1rem rgb(107, 134, 158);
}

.divContenedorBuscador01> button:hover{
  background-color: rgb(93, 138, 175);

transform: translate(.3rem ,0);
  }
.divContenedorFiltro {
  align-items: center;

  padding: .5rem;
}

.divContenedorFiltro > h4 {
margin: 0 0 .2rem 0;
padding: 0 3rem 0 3rem ;
border-radius: .2rem;
  text-align: center;
  color: rgb(159, 208, 196);
  font-weight: 800;
  font-size: 1.2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

}
.divContenedorFiltro > input {
  background-color:antiquewhite;
  color: #a19b81;
  font-weight: 800;
  font-size: 1.2rem;
  width: 70%;
  outline: none;
  text-align: center;
  border: 0;
  border-radius: .3rem .3rem 0 0;
  cursor: pointer;
}
.divContenedorOrdenarPor {
  align-items: center;

  padding: .5rem;
}
.divContenedorOrdenarPor > h4 {

  padding: 0.5rem;
  color: rgb(175, 208, 201);
 
  font-weight: 800;
  font-size: 1.2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.divContenedorOrdenarPor > input {
  background-color:antiquewhite;
  color: #a19b81;
  font-weight: 800;
  font-size: 1.2rem;
  width: 70%;
  outline: none;
  text-align: center;
  border: 0;
  border-radius: .3rem  .3rem 0 0;
}

.divContenedorOrdenarPor > input:hover {
  cursor: pointer;
}
.divcontainerOpciones {
  width: 70%;
  overflow: hidden;
  display: none;
transition: .3s;
}

.divcontainerOpciones > h4:hover {
  cursor: pointer;
  background-color: #d4d0be;
}
.divcontainerOpciones > h4 {
  transition: .3s;
  color: rgb(172, 160, 122);
  font-weight: 800;
  font-size: 1.3rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 800;
  outline: none;
  text-align: center;
  border: 0;
  background-color: #e1dcc6;
}
